[2016-03-08 23:51] Fito opened #4 "game client doesn't run on windows"
@jensvdh Do you have any ideas about what could be causing this?
A couple of people, running unity on their windows machines, are seeing the following error popup when they try to load the code from the repository.
This only happens when they try to load the code from the github repository, not when loading the code provided through the google docs link.
![capture](https://cloud.githubusercontent.

[2016-03-08 23:53] jensvdh commented on #4
No idea. Everything seems to run well under OSX. Looks like an out-of-memory issue. Perhaps an infinite loop?

Does any of you have access to a Windows PC? Did they pull latest development?

[2016-03-08 23:55] jensvdh commented on #4
Can you try clearing the Unity Cache on your Windows machines?

[See this post](http://answers.unity3d.com/questions/941380/system-out-of-memory-when-opening-a-project.html)

[2016-03-10 17:32] haichuand commented on #4
Yeah I'm having this issue too. Cleaning the cache, uninstalling and reinstalling Unity doesn't help.

[2016-03-10 19:38] haichuand commented on #4
If I download the project as a zip file then I can run it on Unity with no problem, but I can't connect it to github repo then.

[2016-03-10 19:39] jensvdh commented on #4
We need to figure out what changed between the ZIP file and the Github repository. Because the ZIP file will no longer be used.

Unfortunately I don't have a Windows machine.

Do you get any logger output from Unity?

[2016-03-10 19:40] jensvdh commented on #4
http://docs.unity3d.com/Manual/LogFiles.html

[2016-03-10 19:44] haichuand commented on #4
Here's the log file, so it's trying to allocate >50GB of memory?

DynamicHeapAllocator allocation probe 1 failed - Could not get memory for large allocation 56602930400.
DynamicHeapAllocator allocation probe 2 failed - Could not get memory for large allocation 56602930400.
DynamicHeapAllocator allocation probe 3 failed - Could not get memory for large allocation 56602930400.
DynamicHeapAllocator a

[2016-03-10 23:49] jensvdh commented on #4
Can you try the master branch? Also can you take a screenshot of where you downloaded the zip from.

Also if some windows user can hop on Skype and share his screen with me that would be amazing. I do not own a Windows machine. Thanks!

[2016-03-11 00:43] rupalkhilari commented on #4
I am a windows user and I also ran into the crash (Out of memory) as @Fito mentioned when i tried opening the project from the 'Open Project' interface. But when i tried opening a scene (Assets/Scenes/Login) by double clicking on it (on removing the Temp/UnityLockfile), the project loaded completely and rebuilt the Library/ folder. I was subsequently able to open the Project through the 'Open Proj

[2016-03-11 01:14] jensvdh commented on #4
The way those assets are treated is handled by the .gitattributes file.

Perhaps we can try changing that one?

[2016-03-11 01:16] jensvdh commented on #4
Our gitattributes file is forcing Mac Line endings. Perhaps that is somehow related to this?

[2016-03-11 01:54] rupalkhilari commented on #4
Hmm ok, which are those line endings ? I tried changing the .gitattributes for .unity, .asset and .prefab to 'binary' instead of 'text', in my fork and recloned it. Now it seemed to be loading fine through the 'Open project' interface, without the serialization errors. Only the sqlite3.dll seemed to be missing which is a windows specific addition.
https://github.com/rupalkhilari/unity-game-client/

[2016-03-11 01:55] jensvdh commented on #4
@rupalkhilari  Very cool. Looks like we are making progress here.

There is a solution for the sqlite3.dll on iLearn. Perhaps we can just add that DLL to our source code repository? (It should live under assets)

[2016-03-11 02:00] jensvdh commented on #4
@rupalkhilari Also there is no need to create a fork for the entire repo. You can just push a branch to Github

[2016-03-11 07:41] rupalkhilari commented on #4
@jensvdh , I don't seem to have permission to push to this repo yet, could you grant me permission.? I shall create a new branch in the same repo going forward.

[code]

For now, I have created a pull request https://github.com/worldofbalance/unity-game-client/pull/5 from my fork.
For the changes, I believe the windows users will need to reclone their git repos to test it. I hope it still works al

[2016-03-11 17:41] jensvdh commented on #4
Hi @rupalkhilari I invited you to the WoB organization. You should have rights to push now. Which subteam are you in? Will test the PR on OSX.

If you wouldn't mind pushing your changes to a branch local to this repository that would be great. Makes it easier for me to clone :)

[2016-03-11 17:47] rupalkhilari commented on #4
Thanks Jens, I am in the new game subteam. We are yet to decide on a name for the game I believe.

[2016-03-11 17:49] jensvdh commented on #4
Cool. Let me know when the branch is up and I'll test it. I'll close #5 . @rupalkhilari if you can make a new PR with a branch local to this repo I will merge it.

[2016-03-11 19:23] rupalkhilari commented on #4
Thanks @jensvdh . I have created a new PR #6 with a local branch.

[2016-03-11 20:04] jensvdh commented on #4
Hi @haichuand , we just merged a fix Rupal did into the development branch. Can you make a fresh clone of the project on Windows and tell me if it works now?

If it does I'll mark this issue as resolved.

Thanks!

[2016-03-11 21:42] Fito commented on #4
@danamuise and I tested the solution, and had to do two things in addition to just pulling the latest version:
- clear the the contents of the C:\Users\"current user"\AppData\LocalLow\Unity\Caches directory
- remove and re-clone the repository

This solved the issue, therefore I'm closing it.
Thanks @rupalkhilari  and @jensvdh :+1:

[2016-03-11 21:42] #4 closed, assigned to Fito

[2016-03-19 06:28] dlhoff opened #7 "Two Network Managers in Assets/Game scene"
I was checking the Unity log while running the Game client and noticed repeated Connection Failed messages. They were coming from the CW Network Manager that is a part of that scene. There are two Network Managers in that scene. The main on and the CW one. Both use their own Connection
Manager to setup a tcp connection. This seems to be causing the error. So, i deleted the CW Network Manager and t

[2016-03-21 17:01] jensvdh commented on #7
@dlhoff I think having 2 network managers is an artifact of last semester's code not being integrated properly. If they are both the exact same class then I'm assuming we can get rid of one of them.

Are you seeing any side-effects as a result of removing that one network manager?

[2016-03-21 17:24] dlhoff commented on #7
I am not seeing any side effects. Probably because i am working with the Multiplayer Convergence game, not the CW game. After studying the code more, i think i understand the reason the setup two Network Managers. CW has a separate server. When you leave the lobby and go to CW, then the client starts communicating with the CW server instead of the lobby server. I think they initiated both connecti

[2016-03-22 01:27] jensvdh commented on #7
Can we have two instances of the same class?

@rujoota and @rupalkhilari are part of the CoW team so maybe they can give you more insight on how this may affect their server code. Thoughts?

[2016-03-22 01:27] jensvdh commented on #7
@worldofbalance/cards-of-wild

[2016-03-22 02:36] rujoota commented on #7
Yes, last semester they were using separate COW and RR server and hence in unity they are sending multiple login requests/player select or other requests. We would be working towards managing that part, but I think it should not affect other games. Meanwhile, temporarily you can comment that part of code and check if it works fine.

[2016-03-22 02:38] jensvdh commented on #7
@dlhoff Can you comment out that specific network manager and make a PR? Then we'll merge that into development. Thanks!

[2016-03-22 14:43] dlhoff commented on #7
I would prefer not to merge at this time. I've done so many changes to the unity-game client as i am now in the middle of implementing the multiplayer mode. I don't want to merge what i have now into development. I am in the middle of implementation. The change is easy. Open assets/Game.unity - the starting game scene. This scene should be opened by default when you load the unity-client project.

[2016-03-23 01:31] Fito commented on #7
I've been looking at the Network Managers. They are different implementations of the same idea (a network manager). The code looks different but that's only because they were not using source control last semester, and every team developed their own Network Manager. When the time came to integrate the games, the easy route was to just namespace them. I'm trying to refactor them into one configurab

[2016-03-23 19:24] brianxautumn opened #8 "Can we all decide on an aspect ratio?"
Hey guys, having some trouble matching the game area to different window sizes. Would it be better if we set the aspect ratio to a fixed 16:9 or something like that so that we wont have to deal with all sorts of resizing issues?

Thanks

[2016-03-23 20:58] jensvdh commented on #8
Wouldn't we handle aspect ratio by having the UI use anchors?

I think most phones are 16:9 or 16:10. I guess covering both aspect ratios would cover most of the stuff.

@dule-hwp might be the guy to answer that.

[2016-03-23 21:14] dule-hwp commented on #8
We should be able to deal with different aspect rations using anchors as Jens mentioned. Feel free to post some screenshots, so we can discuss your specific problem and concerns.

[2016-03-23 21:15] brianxautumn commented on #8
Yeah but what I'm saying is that there will be different amounts of the actual game shown depending on the size of the window.

http://v-play.net/doc/vplay-different-screen-sizes/

[2016-03-23 21:20] jensvdh commented on #8
A common strategy used to deal with this in Video/TV content and videogames is by making sure your UI fits in the 4:3 aspect ratio. If it fits in 4:3 then it will , as a result also fit in 16:9 and 16:10. There will be some space on the sides, but for UI that is fine.

See:
https://www.roguevector.com/wp-content/uploads/2014/05/Aspect-Ratios.png

I'm not sure if anyone actually has a 4:3 phone in

[2016-03-23 21:35] Fito commented on #7
I looked at the two networks managers. The one under global space and the one under the CW namespace are identical. I was able to delete most of the files under CW's network scripts directory and the game compiled without errors. I had to remove some namespaced calls, but other than that it seemed OK.
However, I have not thoroughly tested it, so I'll leave that to the CW team to remove.

[2016-03-23 21:37] dule-hwp commented on #8
Ok, i get what you are saying. Now the problem with this is that you would have to truncate extra content (we don't wanna do that) or add some extra fill space. Using 9patch is another option (not always useful, usually used for buttons and simple graphics), i know unity has something similar to this. Depends on specific problem, and the screen you want to render.

The way you deal with problem sh

[2016-03-23 21:37] jensvdh commented on #7
@Fito can you make a branch or PR with those changes so the @worldofbalance/cards-of-wild team can test it?

[2016-03-23 21:44] brianxautumn commented on #8
I think Im going to go with making the background big enough, then try to automate the left/right camera bounds to fit around the actual play area depending on the aspect ratio.

Also, do we have to handle situations when the user turns their phone from landscape to portrait, or will it just be locked in landscape?

I'll try to get the camera script working in a bit so I can post a screen shot

[2016-03-23 21:44] jensvdh commented on #8
We decided on locking the orientation to landscape for mobile.

[2016-03-23 21:49] Fito commented on #7
@jensvdh since I jsut experimenting, I undid my changes. I'll do it again and make a PR

[2016-03-24 06:09] brianxautumn commented on #8
Okay so I resorted to making the scene use 3d cubes, then use the viewport to calculate scales and move stuff around so that it always fits. So far I got the background to fit. One of my team members is still tweaking the game board. The UI is from last semester.

<img width="749" alt="screen shot 2016-03-23 at 10 51 33 pm" src="https://cloud.githubusercontent.com/assets/6754528/14009741/20636d3a-

[2016-03-24 07:53] dule-hwp commented on #8
I don't think that you will have too much problem with UI elements. All animals buttons in one pane anchored to top and middle and for plants middle left. On the containing Canvas scale with screen size, play with resolution and match parameter a bit and that should look ok on different aspect ratios.

My concern here is game board, because you cannot just add content as for the background, and i

[2016-03-24 20:44] jensvdh commented on #7
@Fito Thanks for the hard work. Let me know when you think we can merge the deduplication of the Network Managers.

[2016-03-30 06:33] brianxautumn opened #12 "Species Table"
SpeciesTable.GetSpecies ("Acacia");

I get Argument Null Exception every time I try this.
It also appears that SpeciesTable.Initialize() isn't even being called
Any Ideas?

[2016-03-30 07:13] rujoota commented on #12
Are you sure your db config are up-to-date?

[2016-03-30 15:12] dlhoff opened #14 ".pdb files stuck in commit and now cannot push to unity-game-client repository"
I had some large .pdb files in my clone of the unity-game-client repository. These came from a build. I did not include them in the .gitignore until after i had done a commit. After doing the commit i tried to push and got a size error message. So, i added them to gitignore and deleted them from my project directory and did another commit. It said that those files were deleted. However, when i do

[2016-03-30 16:18] rupalkhilari commented on #14
@dlhoff ,did you try doing a git remove [(git rm)](https://git-scm.com/docs/git-rm) to get rid of them from the git repo after deleting them from the directory ?

[2016-03-30 16:42] jensvdh commented on #14
Yes. I think Git keeps a history of the files, even if they have been deleted. You need to explicitely remove them from Git by adding them to gitignore first and then running:

`git rm --cached /path/to/file.pdb`

[2016-03-30 16:44] jensvdh commented on #12
I think this is the current db.conf in Development

It should be:

Correct?

[2016-03-30 16:55] dlhoff commented on #14
@rupalkhilari , @jensvdh Thanks for the suggestions. I tried them. At first it said the file did not exist. So, i copied the file back into the folder, did a git add and another commit and it said that the files were added in the commit. Then i did the git rm and it said that they were removed. But when i tried to push, i get the same error message file too big. So, i tried what Jens said - git rm

[2016-03-30 17:34] ilmiyoon commented on #14
git keep the history since the beginning of time. Adding something to
.gitignore does not mean that those files will be deleted in older
commits. Please try to update the commit that has the large .pdb file
(e.g., via git commit --amend) to remove it first before pushing.

Sent from my iPhone

[2016-03-30 17:36] jensvdh commented on #14
Hi @dlhoff. If you want I can hop on Skype with you and walk you through the necessary steps. It's a bit hard to debug your git stuff over text.

Let me know when you are available, maybe later today?

[2016-03-30 17:46] dlhoff commented on #14
Hit @jensvdh  That's great. I am available now until 1pm today. Are you on campus today? Can you do Google Hangout? I have not installed Skype yet.

[2016-03-30 17:48] jensvdh commented on #14
Sure, let's try 12.15-12.30-ish ,send me a message on hangouts and we can talk there.
`jens.vanderhaeghe@gmail.com`

[2016-03-30 17:51] dlhoff commented on #14
Confirmed. I will contact you via Google hangout at 12:15. I have office hours at 1pm, but should be done by then.

[2016-03-30 17:51] jensvdh commented on #14
:+1:

[2016-03-30 17:53] jensvdh commented on #14
Also @dlhoff can you install SourceTree by then? We might have to do some git magic stuff here so it'd be useful to have a visual overview.

https://www.sourcetreeapp.com/

[2016-03-30 18:45] brianxautumn commented on #12
I just realized its declared in 2 places...
Which one do I change?

<img width="514" alt="screen shot 2016-03-30 at 11 43 52 am" src="https://cloud.githubusercontent.com/assets/6754528/14153449/b7bf43aa-f66c-11e5-9567-dac4c8c036cd.png">
<img width="560" alt="screen shot 2016-03-30 at 11 43 42 am" src="https://cloud.githubusercontent.com/assets/6754528/14153450/b7d60fd6-f66c-11e5-82d7-176e02dba978.

[2016-03-30 19:00] brianxautumn commented on #12
It appears that the problem is that there is not a callback for this method.
It doesn't get called. Are you guys able to access the Species Table?

<img width="496" alt="screen shot 2016-03-30 at 11 59 29 am" src="https://cloud.githubusercontent.com/assets/6754528/14153941/e8451d2c-f66e-11e5-8d0e-9df68a312513.png">

[2016-03-30 19:30] niculistana commented on #12
@brianxautumn Please check the issue over here https://github.com/worldofbalance/wob-server/issues/9 the server's database is currently outdated, therefore cannot get the SpeciesList.

[2016-03-30 19:30] #12 closed, assigned to nobody

[2016-03-30 19:34] danamuise commented on #8
did we arrive at a concensus on ratio? For now, we are going to set the lobby to 16:9 landscape only

[2016-03-30 19:54] dlhoff commented on #14
Jens fixed the problem. I was able to push to cvg-refactor.

[2016-03-30 19:54] #14 closed, assigned to nobody

[2016-03-30 22:16] jensvdh commented on #8
16:9 is good. But test in 16:10 as well. Everything 16:9 is pretty much compatible with 16:10

[2016-03-30 22:17] jensvdh commented on #8
as @dule-hwp said. Use UI elements and anchors. See wiki.

[2016-03-30 22:17] #8 closed, assigned to dule-hwp

[2016-03-31 23:28] ilmiyoon commented on #7
@Fito Thanks for the hard work. Why don't you make a branch with changes, so CoW can test...? Or was it already done?

[2016-04-01 05:23] Fito commented on #7
@ilmiyoon I got distracted working on other things. However, I found more errors that I can't figure out yet. I'll get a branch up by tomorrow morning, so the CoW team can help me figure it out.

[2016-04-01 07:19] Fito commented on #7
I solved the errors I was seeing. I removed the duplicate classes and everything seems to work fine.
I made a pull request (https://github.com/worldofbalance/unity-game-client/pull/15) with my changes so the @worldofbalance/cards-of-wild team can test it.

[2016-04-01 23:17] me12722 opened #16 "Can't Run Convergence"
Hey I cant seem to run convergence, i have the server up and running and i changed the config file on the client side and they are communicating but I get a blue screen whenever I enter the convergence game. Anybody else having this issue?

[2016-04-02 03:14] jensvdh commented on #16
@worldofbalance/convergence

[2016-04-02 03:18] jensvdh commented on #7
Since #15 has been merged. Can we close this issue?

[2016-04-02 05:48] Fito opened #18 "Can't merge changes to World.unity scene"
@worldofbalance/integration @jensvdh
@danamuise has done a lot of wonderful UI work on the lobby, and I'm trying to merge it into development. However, since scenes are binary files, I'm unable to resolve merge conflicts.
I tried running 'git checkout --ours <filename>' but that does not seem to work. And even if it did, I don't think we want to keep only Dana's changes to the scene, since other p

[2016-04-02 05:51] Fito commented on #18
This is the branch that has Dana's changes: [lby-ui-work](https://github.com/worldofbalance/unity-game-client/tree/lby-ui-work)

[2016-04-02 06:18] ilmiyoon commented on #18
I guess Scene as a binary file should be committed & merged in sequential order if multiple people work on it.
Please make sure if anyone has updated scene during the time Dana has been working. If not, you can override the merge conflict with this new version of scene. If not, then Dana has to manually rebase  his changes and then push.
One of suggestion.

[2016-04-02 07:03] dlhoff commented on #7
Per Jens suggestion and the fixed explained, i closed this.

[2016-04-02 07:05] jensvdh commented on #18
Are you sure the Provided unity tooling did not work?

Can you tell me the name of the scene file and the two branches we are trying to merge into each other?

Which branch is the destination branch?

I think you need to merge development back in @danamuise his branch using the tool and then you can safely merge your branch into development (once it is 0 commits behind).

Can we open a pull reques

[2016-04-02 07:07] dlhoff commented on #16
Perhaps you want to at least try the steps in the post i made on iLearn on how to get both the client and server running Convergence locally. This was done using the lobby-server which is not the preferred repository now. However, if it works for you it would help isolate the problem.  The iLearn link is:

https://ilearn.sfsu.edu/ay1516/mod/forum/discuss.php?d=140604

David

[2016-04-02 07:10] jensvdh commented on #16
Can someone add these iLearn steps to the wiki so everyone can see them? Thanks!

[2016-04-02 07:42] me12722 commented on #16
@david I already did those things. I get a blue screen @fito has the same issue with all minigames.

[2016-04-02 14:55] dlhoff commented on #16
Copied from iLearn post as Jens requested. Everyone can also see all items on iLearn:

I wanted to get both the client and server running locally to have an environment for development.
I did a git clone of the unity-game-client and lobby-server. [I understand that the Convergence
server is inside the lobby-server.] I ran the unity-game-client and it connects to remote server
and works. I could lo

[2016-04-02 14:58] dlhoff commented on #16
@me12722 I also see the blue screen for up to 30 seconds before it transitions to the Lobby. Does your blue screen last for more than 60 seconds?  Also, are you running mac or Windows? I think @Fito runs mac. I am running Windows 7. I will investigate and see if i can offer a suggestion on how to fix.

[2016-04-02 15:04] me12722 commented on #16
The blue screen doesn't go away i left it there for 10 minutes, I am also running a mac.

[2016-04-02 17:15] dlhoff commented on #16
Did you check the NetBeans console log? It may show an error message.

Also, you can pause the Client and check its log. The Client log shows all of the request messages sent to the Server and the response received from the Server. For each request, there normally is a response. There may be a request sent and no response received. Then, on the NetBeans console there may be a message that helps un

[2016-04-03 00:15] haichuand commented on #16
Per Dr. Yoon's instructions, I'm using the database on thecity.sfsu.edu. I
imported the 'simtest_node_params' table from smurf to thecity; added
'atn_manipulation_id' column in ecosystem table; added 'csv_atn' column in
sim_job table to fix some of the SQL exceptions when running server.

On Sat, Apr 2, 2016 at 10:15 AM, dlhoff notifications@github.com wrote:

[2016-04-04 17:05] Fito commented on #18
@jensvdh I'll try what you suggested, and if I can't get it to work, then I'll open a PR

[2016-04-04 17:16] jensvdh commented on #18
Sure. You can already open a PR for that branch if you want. That doesn't mean we have to straight away merge it.

I think with the Unity Tooling we should be able to pull it off.

[2016-04-04 17:53] danamuise commented on #18
Do you need a list of the scenes I modified? Also, it should be noted I added an asset 'Graph-Maker',  that is kind of large. I hope that is not causing the merginig problem.

[2016-04-04 19:55] jensvdh commented on #18
It'll list you the merge conflicts when you run git status no?

[2016-04-04 19:56] jensvdh commented on #18
Maybe we can store the Scenes as Text instead of Binary

[2016-04-04 20:17] Fito commented on #18
@jens, @worldofbalance/lobby, @ilmiyoon
I followed the instructions [here](http://docs.unity3d.com/Manual/SmartMerge.html) and [here](http://kihira.uk/unity-and-git-getting-them-to-play-nicely/) to set up Unity's Smart Merge tool.
I've done it a couple of times now, thinking that I might have screwed up a step. However, git is still not able to merge the scene for us. These are the files it fails

[2016-04-04 20:28] jensvdh commented on #18
- Use smartmerge tool for the .unity file. Then add and commit it
- Keep your copy of the sqlite3 meta files
- Manually resolve worldcontroller.cs
- Keep your version of Editor Build and Project Settings - I guess these should be treated as text and not binary.

[2016-04-04 21:08] Fito commented on #18
I tried using the smartmerge tool to manually merge the .unity files. I ran the following command:
`/Applications/Unity/Unity.app/Contents/Tools/UnityYAMLMerge merge -p ./Assets/Scenes/World.unity ./Assets/Scenes/World.unity ./../m-World.unity ./Assets/Scenes/World.unity`
where m-World.unity is the copy from the lby-ui-work branch, and ./Assets/Scenes/World.unity is the one from development.
I did

[2016-04-04 21:20] jensvdh commented on #18
What was the output of git status after using the merge tool?

[2016-04-04 21:30] Fito commented on #18
After using the merge tool, git status returns:

On branch development
Your branch is ahead of 'origin/development' by 1 commit.
  (use "git push" to publish your local commits)
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

[code]

[2016-04-04 21:35] Fito commented on #18
But, I don't think we want to be merging these manually anyways. The tool is merely a file merger. I had follow the steps:
- Manually make a copy of the file from one branch.
- Switch to the other branch.
- Run the merge program.
- Deleted the copied files.
- Run git merge.

This process should theoretically happen automatically by adding the following to the .giconfig file:
`[merge]`
`tool = unit

[2016-04-04 21:47] jensvdh commented on #18
So you're saying the "modified" scene files are broken?

[2016-04-04 21:49] Fito commented on #18
Yes, the merged (modified) scene files are broken. I'm now trying to figure out in what way they broke, to understand what the merge is doing.

[2016-04-04 21:56] jensvdh commented on #18
Try to see if they output valid Yaml files

http://yaml-online-parser.appspot.com/

[2016-04-04 22:25] Fito commented on #18
@jensvdh, @ilmiyoon, @worldofbalance/lobby
Ok, I was able to successfully merge it.
The smartmerge tool gets us some of the way there, but there were still issues I had to go in and fix by hand. I had to remove a reference to a script that no longer existed, enable a script that was disabled in Dana's version, and I just kept Dana's ProjectSettings.asset entirely.
Everything seems to work fine, bu

[2016-04-04 23:21] jensvdh commented on #18
You can just commit your local merged version and then push that here?

[2016-04-04 23:38] Fito commented on #18
I opened a pull request: https://github.com/worldofbalance/unity-game-client/pull/21

[2016-04-04 23:56] jensvdh commented on #18
Can we close this issue?

[2016-04-04 23:58] #18 closed, assigned to danamuise

[2016-04-05 00:06] ilmiyoon commented on #16
Any progress on this?
How many have succeeded in running Convergence game on Mac or on Windows? Can you inform here?

[2016-04-05 00:10] me12722 commented on #16
Yeah,  Jason and I had corrupted .txt files and then Gilbert and I found
that you have to change the path for the simulation files on the server
side.
On Apr 4, 2016 5:06 PM, "ilmiyoon" notifications@github.com wrote:

[2016-04-05 00:14] Fito commented on #16
I'm able to start the game, but then I see only a gray screen, and the following errors show up in the console:
- `NullReferenceException: Object reference not set to an instance of an object
  ConvergeGame.MakeWindow (Int32 id) (at Assets/Scripts/ConvergeGame/ConvergeGame.cs:164)
  UnityEngine.GUI.CallWindowDelegate (UnityEngine.WindowFunction func, Int32 id, UnityEngine.GUISkin _skin, Int32 forc

[2016-04-05 00:17] me12722 commented on #16
You probably have a corrupted  covergence.txt file
On Apr 4, 2016 5:14 PM, "Adolfo von Zastrow" notifications@github.com
wrote:

[2016-04-05 01:01] danamuise commented on #18
thanks for putting so much effort into this, I hope it wasn't something I broke!

[2016-04-05 01:11] dlhoff commented on #16
Jason came by for help this morning with the same error message. We looked at the code and concluded the same thing me12722 told you. There seems to be a problem with his
converge-ecosystems.txt file. So, i emailed him mine and he replaced it and it worked.
I attached the file. This file has some binary characters at the beginning. So, you cannot
open it with a text editor and save it back.

[conv

[2016-04-05 04:54] anuagg commented on #7
@jensvdh @Fito @dlhoff @rujoota -The reason behind those repeated Connection Failed messages  was that client was trying to connect to cw server and since we didn't had our minigame servers running back then, there was nothing to connect to.
As @dlhoff had mentioned earlier, those two networkManager classes are not the same. They had same function and hence same code. But they both have separate i

[2016-04-05 05:08] ilmiyoon commented on #7
Great point!
@Fito made the configuration file for mini games on the client side. And it should list the port numbers and we should make the NetworkManager class creates separate instances with each port numbers. @Fito, can you work on this?

[2016-04-05 05:15] Fito commented on #7
@ilmiyoon @anuagg
I see, I focused mainly on eliminating repeated code (The network managers were identical). I'll make it so we create separate instances.

[2016-04-05 05:41] haichuand commented on #16
Somehow I didn't have this problem. I checkout out the cvg-refactor branch for unity-game-client, and the lby-refactor banch for lobbyServer. I am using localhost server connected to thecity.sfsu.edu database. I can run all the simulations multiple times without errors.

[2016-04-05 06:01] me12722 commented on #16
You're supposed to be on wob-server
On Apr 4, 2016 10:41 PM, "haichuand" notifications@github.com wrote:

[2016-04-05 06:05] haichuand commented on #16
Really? I thought the convergence game should run on lobby-server. Please check David's earlier post.

[2016-04-05 06:10] me12722 commented on #16
Yeah but we found that the other repo is missing some files, there are some
problems with that server but they're easy to fix. We should meet during
class time and get everyone on the same page. You should be fine as long as
everything runs with your current setup
On Apr 4, 2016 11:05 PM, "haichuand" notifications@github.com wrote:

[2016-04-06 06:34] Fito commented on #7
@anuagg @ilmiyoon
I modified the NetworkManager class so that it gets instantiated for different games.
I also removed the duplicate ConnectionManager, and made the port and host injectable into the constructor.
ConnectionManagers are now injected into NetworkManagers, instead of it being instantiated within the class.

I'm still not able to test this myself because I can't/don't know how to prope

[2016-04-06 06:38] dlhoff commented on #7
As an FYI, I run two copies of Unity on my Windows 7 laptop by copying the entire Unity folder to another name and loading the second copy from that directory. For example, i have a unity-game-client folder. Then, i copy it to unity-game-client-dummy. I run two copies of Unity, each one loading the same program, but from two different folders. This is how i test out Multiplayer Convergence.

[2016-04-06 06:42] ilmiyoon commented on #7
GREAT!!
Also now you should be able to run the server at theCity! TheCity has JDK 1.8 as I announced at iLearn news. (But this still needs CoW team test if it works properly)

[2016-04-06 06:53] Fito commented on #7
@dlhoff thanks! I'll try that.

[2016-04-07 19:49] #16 closed, assigned to me12722

[2016-04-07 20:45] Fito opened #30 "DrawCard throwing an error"
@worldofbalance/cards-of-wild
I'm getting the following error when I start the game:

NullReferenceException: Object reference not set to an instance of an object
Database.DrawCard (.Card card) (at Assets/Scripts/GUI/Database/Database.cs:280)
Database.MakeWindow (Int32 id) (at Assets/Scripts/GUI/Database/Database.cs:208)

[2016-04-07 20:57] laisture opened #31 "NetworkManager(script) not added to global object in the Game(scene) in development branch"
It is necessary in order to connect to the server.

![issue netwrkman](https://cloud.githubusercontent.com/assets/9082165/14366640/aa5e2854-fcc8-11e5-9fde-d70f12af6b4e.png)

[2016-04-07 21:01] jensvdh commented on #31
Can you make a branch based off of development. Commit these changes and then make a PR?

Also it is strange that this hasn't come up yet.

@Fito did you ever see this issue?

[2016-04-07 21:02] Fito commented on #31
@laisture The NetworkManager class is now instantiated within the Game script. It does not need to be added as a component, since it is a plain C# class now, and does not inherit from Monobehavior anymore

[2016-04-07 21:03] Fito commented on #31
I have a pull request where that change was made but hasn't been merged yet. I'm reviewing the pull request with @anuagg today, and hopefully merging it.

[2016-04-07 21:21] jensvdh commented on #31
OK cool. Please make merging that PR highest priority :+1: Can you reference the number here? Then I can close this issue

[2016-04-07 22:32] Fito commented on #31
PR addressing this question has been merged: https://github.com/worldofbalance/unity-game-client/pull/24

[2016-04-07 22:32] #31 closed, assigned to jensvdh

[2016-04-08 21:06] rupalkhilari opened #33 "Making settings in Config.cs configurable (local or remote)"
While discussing a change in Assets/Scripts/Config.cs in [this thread](https://github.com/worldofbalance/unity-game-client/commit/8b734a4e486bbd32de742a28355e40567737ed53), @jensvdh suggested that we could use an environment variable to toggle local settings in Config.cs. That way we would not have to deal with switching the REMOTE_HOST variable each time between testing the server locally and in

[2016-04-08 21:15] niculistana opened #34 "RNO - Cannot create a room from LBY"
I just pulled from the latest deveopment branch. It looks like the functionality to create rooms is disabled? Any pointers?

[2016-04-08 21:24] niculistana commented on #33
@rupalkhilari Good idea. I also want to reference the following iLearn posts that Prof. @ilmiyoon  posted regarding running jar files in thecity.sfsu.edu:

https://ilearn.sfsu.edu/ay1516/mod/forum/discuss.php?d=152025
https://ilearn.sfsu.edu/ay1516/mod/forum/discuss.php?d=148919

Also, the location for the minigame server jar in our repositories can be located under: /path-to-your-server/mini_game

[2016-04-08 21:30] niculistana commented on #33
@worldofbalance/server please follow this thread and let us know what you think!

[2016-04-08 23:06] Fito commented on #34
Are you trying to create rooms while connected to the remote server or while connected to your local server?
I am not able to create rooms while connected to the remote server, and I believe that's due to the code there being out of date. However, when I connect to my local server, I have no issues creating a room.

[2016-04-09 02:04] laisture commented on #34
@Fito Yes you are correct, the remote server does not contain the updated WoB server code from development, because I'm also unable to create a room on the remote server.

[2016-04-09 03:38] ilmiyoon commented on #34
@niculistana  @Fito
When you call "remote server", are you talking about 520.x.x.x (the bracket clouds)? Or theCity?
Can you make the jar file of "local server" to thecity and test?

[2016-04-09 03:54] ilmiyoon commented on #30
@worldofbalance/cards-of-wild I saw a demo working yesterday. Can some answer to this issue?

[2016-04-09 03:57] ilmiyoon commented on #7
@worldofbalance/cards-of-wild Did any one test this?

[2016-04-09 04:00] Fito commented on #7
@ilmiyoon we tested it with the integration team on Thursday after class. I forgot to close the issue

[2016-04-09 04:00] #7 closed, assigned to dlhoff

[2016-04-09 17:15] Fito commented on #34
@ilmiyoon Yes, by remote server I mean the bracket clouds server.

[2016-04-09 19:30] Fito commented on #30
I don't see this error anymore after merging https://github.com/worldofbalance/unity-game-client/pull/27 I'm closing this issue.

[2016-04-09 19:30] #30 closed, assigned to nobody

[2016-04-11 05:45] niculistana commented on #34
Hi all, I was able to get the jar files for the minigames (Running Rhino, Cards of Wild, Sea Divided) running on my thecity server. My problem is I am not sure what ip address to use to locate the servers I am running on my thecity server. I used the shell command `ip addr show` to see which ip address my server is on, but I do not know which from the list of ip addresses that come up after runnin

[2016-04-11 06:14] jensvdh commented on #34
use the Unix command ifconfig.

Your ipaddress is the inetaddr value on the first ethernet device (usually eth0) - not the 192.168 one, that one is the local network. The localloop one is usually the 127.0.0.1 one which is used for localhost.

It's probably in the 130.212 range.

[2016-04-11 06:41] ilmiyoon commented on #34
You can type in
"thecity.sfsu.edu:12345" if port number is 12345.
Domain server convert the domain name to ip address.

[2016-04-12 05:49] brianxautumn commented on #33
On Don't eat me, since it isn't 2 player do we have to do anything extra, or just leave i with whatever connection was already going?

[2016-04-12 20:41] brianxautumn opened #46 "Opening Don't Eat me from Lobby Crashes"
So Don't Eat me works perfect if I start it by itself. If I start from the lobby and click on don't eat me it doesn't work anymore. It wasn't like that last week. I just noticed this, I hope its just that I have the wrong ip address or something simple.

Here is the error:

ArgumentException: An element with the same key already exists in the dictionary.
System.Collections.Generic.Dictionary`2[Sys

[2016-04-12 20:42] brianxautumn commented on #46
nvm I closed and opened and now it works

[2016-04-12 20:42] #46 closed, assigned to nobody

[2016-04-12 23:29] niculistana commented on #34
I am looking to see if there is a lobby server jar file located somewhere. I only have RR, COW, and SDV.

Edit: by @jensvdh suggestion, I built my own using `Netbeans>Build Project` feature and obtained the jar file in the `dist/` folder.

[2016-04-12 23:30] niculistana commented on #33
@brianxautumn @jensvdh mentioned that we have to migrate server code to different folders, and build its own jar file to run separately from the lobby server. If Don't Eat Me does not have a server then you should be ok.

[2016-04-13 08:58] niculistana commented on #33
Hi everyone, here is a quick guide on our port usage:

If you are using `remote host = 52.32.228.220`, you must use the following port `9255` for the lobby server.

If you are using `remote host = localhost`, you must use the following port `20041` for the lobby server. It is important that you **both** change port on `Constants.cs` script in the client as well as the port on `gameServer.conf` fil

[2016-04-13 09:05] niculistana commented on #33
I am currently working on deploying jar files. We need to define reserved ports for our Ubuntu instance so it does not clash with anything else that is running on `thecity.sfsu.edu`.

Also, few people have pointed out that we need our own `worldofbalance` user account within `thecity.sfsu.edu` to ease management, and have multiple users have access instead of having 1 student managing the account

[2016-04-13 09:59] niculistana commented on #34
I was able to create a server running on thecity.sfsu.edu, you can now connect using that. Please make sure that the following ports are being used in your client. This should be a good way to test creating and joining Running Rhino server protocols.

lobby: 9255
cow: 20038
rno: 20039
sdv: 20040

[2016-04-13 10:03] niculistana commented on #33
Currently there is a java server running on my `listana` account in `thecity.sfsu.edu`. It uses the following ports:

lobby: 9255
cow: 20038
rno: 20039
sdv: 20040

I only tested the lobby's requests/response. I suggest @worldofbalance/server test their own requests/response for their own specific servers. Please create issues as you encounter them and I'll try to help. Also, feel free to ping me i

[2016-04-14 17:14] rujoota opened #50 "Development broken?"
I see couple of compile time errors on development branch. Its not showing exact location where its failing.

[2016-04-14 20:06] Fito commented on #50
@rujoota could you paste the compile time errors you are seeing here?

[2016-04-14 20:20] Mlienk opened #51 "Lobby UI Missing"
![lobbyuimissing](https://cloud.githubusercontent.com/assets/12202319/14542276/0032ba7c-0243-11e6-99df-6e79e4288c76.png)

New lobby UI is missing in development branch

[2016-04-14 20:23] rujoota commented on #50
<img width="1440" alt="screen shot 2016-04-14 at 1 18 56 pm" src="https://cloud.githubusercontent.com/assets/12770146/14542491/fed25dc6-0243-11e6-9563-1c4208b2a60b.png">
<img width="1440" alt="screen shot 2016-04-14 at 1 19 33 pm" src="https://cloud.githubusercontent.com/assets/12770146/14542490/fed1dd56-0243-11e6-834d-f9fa9f1bd897.png">

[2016-04-14 20:24] jensvdh commented on #51
@worldofbalance/lobby thoughts? We need our buttons back if possible ;)

[2016-04-14 20:35] brianxautumn commented on #50
Was the last commit working?

[2016-04-14 20:38] brianxautumn commented on #50
I just checked I don't see that. How are you getting those errors?

[2016-04-14 20:40] brianxautumn opened #52 "Error on login"
Theres a null exception error when logging into the lobby. Does anyone else see this?
<img width="601" alt="screen shot 2016-04-14 at 1 39 36 pm" src="https://cloud.githubusercontent.com/assets/6754528/14542915/6372eb36-0246-11e6-9bb8-a48b1922ca83.png">
<img width="1037" alt="screen shot 2016-04-14 at 1 39 27 pm" src="https://cloud.githubusercontent.com/assets/6754528/14542916/638716ec-0246-11e6-8

[2016-04-14 22:30] rujoota commented on #50
I did nothing...just cloned development in new folder and opened game scene.

[2016-04-14 23:34] j1george commented on #51
@Mlienk @jensvdh ui is working with the current version on development thanks to @Fito

[2016-04-14 23:34] #51 closed, assigned to nobody

[2016-04-15 01:28] brianxautumn commented on #50
Can you be more specific, I don't get those errors. Are you starting the main game scene?

[2016-04-15 03:05] rujoota commented on #50
I cloned it again...and its working now....

[2016-04-15 03:05] #50 closed, assigned to nobody

[2016-04-15 17:11] rupalkhilari commented on #52
This is related to the fact that the script making a connection to the Sea Divided server was removed from the global object due to the server not being deployed in production yet. @Fito had reported that it was hanging the application due to that and would need to be removed temporarily.
It shouldn't affect the functioning of the project as a whole other than the SD game. I will look into merging

[2016-04-15 23:07] rupalkhilari commented on #52
I have created a pull request https://github.com/worldofbalance/unity-game-client/pull/54 that fixes this until we have migrated to the integrated network manager.

[2016-04-16 00:25] #52 closed, assigned to rupalkhilari

[2016-04-18 05:39] ilmiyoon commented on #34
For those who tried this server, please let me know if worked well.
unlike local server, "you" don't have to run the server to connect. Just use the domain name "thecity.sfsu.edu:9255" for connecting to lobby server.
Please inform Nicu if the server is not running. Nicu will have to restart the server. (We can add feature in the future that automatically restart the server) For now, we have to man

[2016-04-18 07:58] j1george opened #59 "RNO - Cannot start game unless using new player"
This is a strange problem. I've been testing gameplay and it seems only new players can play Running Rhino together.
For example, say I start a game with user '1' and user '2'. I can enter the game with both players and the game runs fine. However, once I leave the game, I can no longer play the game with either of these players. I would have to make a game with 'Bob' and 'bobby'. Same issue: game

[2016-04-18 07:59] j1george commented on #34
A couple weeks ago I was able to connect to the remote server fine. However, it suddenly stopped working at some point so I have just been working on the local server since.
Once logged on to the local server, room creation is fine.

[2016-04-18 18:18] niculistana commented on #34
@iamthepanda I will begin running the jar files on a dedicated machine by tonight.

[2016-04-18 18:18] #34 closed, assigned to nobody

[2016-04-18 18:20] niculistana commented on #59
@dmchung Are there any flags to whether the player is currently/finished playing in the database?

[2016-04-18 19:42] rujoota commented on #59
@dmchung Is it possible that RR creates players only on login and not otherwise?

[2016-04-18 20:04] j1george commented on #59
So I'm not entirely sure about this, but it does seem that it has more to do with logging on with an account than actually running the game. This is entirely speculation though based on my tests. I will have to take a better look at what is being called within the code. I've looked through the runner portions of the database, but there doesn't seem to be anything there that would cause this sort o

[2016-04-19 17:06] danamuise opened #62 "Connection failed"
I have not been able to login for the last 12 hours, "Connection Failed"

[2016-04-19 17:12] niculistana commented on #62
@danamuise, Could you please try thecity.sfsu.edu with the following ports?

lobby: 9255
cow: 20038
rno: 20039
sdv: 20040

[2016-04-19 17:30] danamuise commented on #62
where do I make those changes?

[2016-04-19 21:35] j1george commented on #62
Assets > Scripts > Config.cs
and Assets > Scripts > Constants.cs

[2016-04-19 21:59] danamuise commented on #62
thanks!

[2016-04-19 21:59] #62 closed, assigned to nobody

[2016-04-19 22:34] dmchung commented on #59
The method (the flag) that updates the DB at the end of the race is commented out. The method in question is finishRace() and it is in wob-server\src\rr\db\RaceDAO.java. I'm not sure why it was commented out, currently trying to get it to work.

[2016-04-20 19:23] laisture commented on #59
@iamthepanda I believe there is no flag to determine if the game is finished, so the DB/Server thinks that the player is still in the game. In RaceDAO class there is a leaveRace method that tries to delete the entries into the table runner_raceinfo, but checking the database, it's not deleting the entries. @dmchung will add a flag to the database, and update it if the race finishes or if the playe

[2016-04-21 06:51] niculistana commented on #59
@laisture @dmchung, that is a good idea, although I believe it's more of a client issue than a server/database, please see the branc: https://github.com/worldofbalance/unity-game-client/tree/dev-rno and it should work.

@iamthepanda the branch https://github.com/worldofbalance/unity-game-client/tree/dev-rno has a solution for it. I am not sure how it was fixed @jan-burianek might have some pointer

[2016-04-21 06:51] #59 closed, assigned to nobody

[2016-04-21 20:09] jensvdh opened #66 "Minor Improvement suggestions for Unity Debug Console"
Hey,

I really liked the debug console that the @worldofbalance/lobby team built.

I have a few improvements/suggestions that could make it even better:
- Can we add a small entry to our wiki on how to use it? Not a lot of people are aware of its existence and if it's still there next semester then they will find it and keep using it.
- Can we print the timestamp in front of each message? Like 10:

[2016-04-21 21:21] Fito commented on #33
@rupalkhilari @jensvdh I open a pull request related to this issue: https://github.com/worldofbalance/unity-game-client/pull/67

[2016-04-22 06:38] Fito commented on #33
https://github.com/worldofbalance/unity-game-client/pull/67 has been merged, which addresses this issue. However, there is a lot of information in this issue that I'm not sure if we should close it

[2016-04-22 07:35] niculistana commented on #33
@Fito, I created a wiki regarding this post: https://github.com/worldofbalance/unity-game-client/wiki/[Config]-Environment-variables

[2016-04-22 18:07] Fito commented on #33
Thanks @niculistana I'm closing this issue.

[2016-04-22 18:07] #33 closed, assigned to nobody

[2016-04-25 03:22] brianxautumn opened #69 "Ui Design"
Hey I think we need to all agree on a style of UI design. We should get a discussion going to get the same colors/textures/design styles to match across all minigames to give it a sense of continuity.

[2016-04-25 04:53] ilmiyoon commented on #69
Excellent suggestion.
Can UI team meet and discuss the consistent color or design styles?
@danamuise, @ToruNagao can you guys call a meeting?

[2016-04-25 22:00] j1george commented on #66
@jensvdh I have added a page on the wiki that includes some usage notes. I will work on including some other minor UI improvements. Thanks for the suggestions!

[2016-04-26 18:48] GilBu opened #73 "DemAnimalFactory.cs errors when porting to android"
on line 3 of the file causes an error on android is this important to anyone?

[2016-05-04 16:55] dlhoff opened #82 "Problems clicking game in multiplayer window"
In the screen capture below i try to click on any of the multiplayer games and the button depresses but no line appears showing me as the host, indicating that i am waiting for others to join.  This was working ok before i did a pull of development yesterday.

Also, entering the lobby is slow because it counts the Days from 1 to ~20 very slowly. This is new in the last week or so.

Another issue i

[2016-05-04 19:19] solid0snake commented on #73
I was able to bypass this by surrounding line 3 with:

#if UNITY_EDITOR
(Line 3)
#endif

[2016-05-04 19:25] solid0snake opened #83 "Getting blue screen when porting to android"
Has anyone encountered this?
![screenshot_20160504-122110](https://cloud.githubusercontent.com/assets/1965568/15026401/1da0640a-11f3-11e6-8356-6a40cc8df7fb.png)

Just a blue screen when starting app in android.

[2016-05-04 23:20] echan2 opened #84 "COW - Raycast ignoring a gameobject"
First I should explain how the card centering works.  Using onmousedown() any clicks(left click or tap) on the cards bring them closer to the camera and centers by changing the handPos vector3, repositions the cards using reposition() and assigns handCentered to be true.  Returning to the corner is same process but with the corner vector3 coordinate.  The raycast is only casted when handCentered i

[2016-05-05 19:55] Fito opened #85 "Null Reference Exception when playing multiplayer convergence"
I get the following error when joining a multiplayer convergence game:
<img width="774" alt="screen shot 2016-05-05 at 12 52 54 pm" src="https://cloud.githubusercontent.com/assets/702401/15055292/9ba0a3e2-12c0-11e6-9325-c6bb8d61eb0c.png">

[2016-05-05 19:58] Fito commented on #85
The problem is coming from this section:
    void InitializeResetSlider (float availWidth, int widthPer)
    {
        int perPage = Mathf.FloorToInt (availWidth / widthPer);
        // Adjust init slider val
        maxResetSliderValue = Mathf.Max (0, attemptList.Count - perPage);
        resetSliderValue = maxResetSliderValue;
    }

attemptList is Null

[2016-05-05 20:05] niculistana commented on #85
I am also experiencing this issue.

[2016-05-05 20:41] dlhoff commented on #82
I listed 3 problems above. Two of them seemed to be solved/understood. The one for the screen capture was fixed when we rebooted the server. That also fixed the problem with the Day counting up.

But the 3rd problem remains. The 3 buttons at the top of the screen become not-clickable is still with me. It happened again twice today. The only solution i found is to reboot my laptop. Then it works fo

[2016-05-06 17:50] danamuise opened #86 "Dont Eat Me class preventing Android Build"
When building the project for Android I get the compile error:
Assets/Scripts/DontEatMe/DemAnimalFactory.cs(3,7): error CS0246: The type or namespace name `UnityEditor' could not be found. Are you missing a using directive or an assembly reference?

When I comment out line 3: using UnityEditor; // Contains the PrefabUtility class.
in the class DemAnimalFactory.cs, the project successfully ports to

[2016-05-06 19:55] rujoota commented on #86
https://github.com/worldofbalance/unity-game-client/issues/73

[2016-05-08 21:03] echan2 commented on #85
I am as well

[2016-05-09 00:12] jensvdh opened #89 "Gitignoring project files"
Hey it looks like these files are constantly regenerated. Can we ignore them?

![1__bash](https://cloud.githubusercontent.com/assets/2640481/15101260/028c13c6-1540-11e6-8a86-41f88ef6e7ae.png)

Thanks,

Jens

[2016-05-09 00:13] jensvdh commented on #85
Same here @worldofbalance/convergence

[2016-05-09 00:23] rujoota commented on #83
@rupalkhilari @dule-hwp did u guys face this issue?

[2016-05-09 00:36] dule-hwp commented on #83
Yes. quick fix would be to comment out the the "SpeciesTable.Initialize ();" line in Game.cs.

The code is actually breaking at SpeciesTable.cs on line 14 when it tries to get dataPath. I found somewhere that in order to work on mobile devices this should be Application.persistentDataPath instead of Application.dataPath, but when i tried it, it did not work for me. Since I am not using local datab

[2016-05-09 16:53] dlhoff commented on #85
I have not received this error so far and i play a lot. It may be because i play it differently than you do. Do you click on the reset sliders at any time during the game?  At the beginning of the game?
I normally click on the reset sliders after playing a few rounds, but not at the beginning.

[2016-05-09 17:21] dlhoff commented on #85
Harjit got this error because the converge-ecosystem.txt file in his directory is different than the one i pushed to the repository. We are preparing a new pull-request/push for multiplayer convergence and i will make sure the right version of coverge-ecosystem.txt file gets into the repository. Maybe my previous push did not take that file.

[2016-05-09 17:58] jensvdh commented on #85
@dlhoff sounds good!

[2016-05-09 20:01] Fito commented on #89
Yeah, they should be ignored. I added them to gitignore and pushed it.

[2016-05-09 20:01] #89 closed, assigned to nobody

[2016-05-10 03:20] jensvdh opened #93 "2 Game Scenes"
Hey,

I just noticed we have 2 games

/scripts/Game

and Game in root

Only the one in root seems to be working.

Shall we delete the other one to prevent confusion??

[2016-05-10 04:23] echan2 commented on #93
is the one in scripts tied to anything?

[2016-05-10 04:23] jensvdh commented on #93
I'm not sure. It doesn't run when I start it.

[2016-05-10 20:26] Fito opened #97 "Clash of Species - Camera issue"
@worldofbalance/clash-of-species Hey guys, while test-driving the game, my camera broke and got stuck in the following state:
<img width="1264" alt="screen shot 2016-05-10 at 1 24 34 pm" src="https://cloud.githubusercontent.com/assets/702401/15161350/b4022578-16b2-11e6-8479-9b6b8a5295e4.png">

The camera movement keys also stopped working properly (i.e. they started moving in the opposite directio

[2016-05-11 04:39] echan2 opened #98 "Latest Development Build Buttons in GUI elements on World.unity not working"
The buttons to start a game or create a multiplayer room did not work, the error I believe that was causing it was a Argument out of Range in Clock.cs on line 90, commenting out that line fixed the issue.

[2016-05-11 15:42] rupalkhilari commented on #98
This still seems to be an issue. @worldofbalance/lobby. Not able to click on any of the buttons in the Multiplayer Game window. There are also "New Game Objects" being continuously spawned in the Game.unity scene giving errors:

[code]

Thanks for the workaround @echan2.

[2016-05-11 17:08] danamuise commented on #98
we are looking into this. The mutilplayer game buttons not working looks to be a server side issue, I will see what's going on.

The many gameObjects is coming from Zone.cs  looking into seeing why.

Nobody on the lobby team is using Clock.cs I beilieve commenting out the offending script will not cause any issues.

[2016-05-11 17:11] rupalkhilari commented on #98
Thanks @danamuise !

[2016-05-11 21:10] Fito commented on #98
@rupalkhilari @echan2 I pushed a fixed for the clock issue. Let me know if you still see it.

[2016-05-12 07:59] rupalkhilari commented on #98
Thanks @Fito , it seems to be working fine now.

[2016-05-12 16:34] #86 closed, assigned to nobody

[2016-05-12 16:35] #98 closed, assigned to nobody

[2016-05-12 16:56] danamuise opened #100 "DontEatMe error preventing Android Build"
Assets/Scripts/DontEatMe/DemAnimalFactory.cs(3,7): error CS0246: The type or namespace name `UnityEditor' could not be found. Are you missing a using directive or an assembly reference?

If I comment out line 3 of DemAnimalFactory.cs the project builds.

[2016-05-12 17:33] #100 closed, assigned to nobody

[2016-05-12 20:14] brianxautumn opened #105 "I cant start the game"
I just get a blue screen if I start either game scene. I pulled the latest version.

Scene 'Login' (-1) couldn't be loaded because it has not been added to the build settings or the AssetBundle has not been loaded.
To add a scene to the build settings use the menu File->Build Settings...
UnityEngine.Application:LoadLevel(String)
Game:LoadScene(String) (at Assets/Game.cs:78)
Game:SwitchScene(String

[2016-05-12 20:28] brianxautumn commented on #105
It seems to be something to do with the lobby server crashing actually. I can log in but it still goes to blue screen if I try to switch to a mini game

[2016-05-15 22:15] #84 closed, assigned to nobody

[2016-05-16 19:54] #83 closed, assigned to nobody

[2016-05-16 19:57] rujoota opened #108 "Lobby server on thecity not working"
Hi,

We were using port 9257 and thecity.sfsu.edu to login to lobby till yesterday but its not working now. We are able to login but cannot create room.
With port 9255, we are unable to login. @anuagg @worldofbalance/lobby can u please check?

[2016-05-16 20:55] danamuise commented on #108
Change to port 9234 and do not change

[2016-05-16 23:27] rujoota commented on #108
Not able to login with port 9234. I changed it in Assets->Scripts->Constants.cs

[2016-05-17 03:48] anuagg commented on #108
@rujoota  did you also change your config file remote_host to thecity ? Can you check if its referring to the city or localhost.

[2016-05-17 19:21] rujoota commented on #108
Yes its refering to thecity. @haichuand is also facing the same issue.

[2016-05-17 20:36] GilBu commented on #73
thanks

[2016-05-17 20:36] #73 closed, assigned to nobody

[2016-05-17 20:37] dlhoff commented on #82
These problems might be fixed now. Fito told me about a bug fix that he did and i upgraded to Unity 5.3.4f1. If i see the problems again, i will open a new issue.

[2016-05-17 20:37] #82 closed, assigned to nobody

[2016-05-17 22:54] #108 closed, assigned to nobody

[2016-09-28 17:54] #105 closed, assigned to nobody

[2016-09-28 17:54] #97 closed, assigned to nobody